.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  display: flex;
  background-color: #36A0C9;
  color: black;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  flex-direction: column;
  margin: 10px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.img-resize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-on-top {
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-resize img,
.img-resize video {
  object-fit: scale-down;
  max-width: 85vw;
  max-height: 85vh;
}

.controls {
  display: flex;
  justify-content: center;
}

div.title {
  flex: 1;
  display: flex;
  justify-content: center;
}

.title-text {
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 65vw;
  overflow: hidden;
}

.close-button {
  align-self: flex-end;
  justify-self: flex-end;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal .hidden {
  display: none;
}

.modal .preview {
  object-fit: contain;
}

.sidebar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(226, 142, 142, 0.73);
  color: black;
  width: 5%;
  height: 5%;
  font-size: 2em;
  padding: 15px;
}

.mobile.sidebar {
  display: none;
}

.left.sidebar {
  left: 0;
}

.right.sidebar {
  right: 0;
}

@media (max-width: 767px) {
  .mobile.sidebar {
    display: flex;
  }
}

.tag-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
  align-self: center;
  margin-bottom: 32px;
}

.tag-list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag-list-title {
  text-decoration: underline;
}

.tag-list-coll {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;
  align-self:center;
}

.tag-list-coll p {
  /* background-color: #9BC0CF; */
  background-color: #F0BCE1;
  color: black;
  padding:4px;
  border: 1px solid black;
  border-radius: 4px;
  margin:4px;
  cursor: pointer;
  text-decoration: underline;
}
