.sidebars {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
  pointer-events: none;
  align-items: flex-end;
}

.sidebar {
  width: 10vw;
  height: 10vh;
  cursor: pointer;
  background-color: rgba(226, 142, 142, 0.73);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  pointer-events: all;
}


@media (max-width: 767px) {

}
