.pic-card {
  /* margin: 10px; */
  margin-top: 4px;
  cursor: pointer;
  transition: transform 0.25s;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-card-img-container {
  position: relative;
}

.pic-card .triangle {
  position: absolute;  
}

.pic-card .triangle.top {
  top: 0px;
}

.pic-card .triangle.left {
  left: 0px;
}

.pic-card .triangle.bottom {
  bottom: 3px;
}

.pic-card .triangle.right {
  right: 0px;
}

.triangle.bottom.right {
  width: 0;
  height: 0;
  border-top-width: 20px;
  border-top-style: solid;
  border-top-color: transparent;
  border-right-width: 20px;
  border-right-style: solid;
}

.triangle.top.left {
  border-bottom-width: 20px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-left-width: 20px;
  border-left-style: solid;
}

.triangle.deleted {
  border-left-color: black;
}

.triangle.rating-general {
  border-right-color: var(--general-color);
}

.triangle.rating-sensitive {
  border-right-color: var(--sensitive-color);
}

.triangle.rating-questionable {
  border-right-color: var(--questionable-color);
}

.triangle.rating-explicit {
  border-right-color: var(--explicit-color);
}


.pic-card:hover {
  z-index: 2;
  transform: scale(1.1);
}

.last-viewed-image.rating-general img {
  box-shadow: 0 0 20px 20px var(--general-color);
}
.last-viewed-image.rating-sensitive img {
  box-shadow: 0 0 20px 20px var(--sensitive-color);
}
.last-viewed-image.rating-questionable img {
  box-shadow: 0 0 20px 20px var(--questionable-color);
}
.last-viewed-image.rating-explicit img {
  box-shadow: 0 0 20px 20px var(--explicit-color);
}
