.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

body {
  background-color: #9bc0cf;
  color: #ddd
}

.mini-container {
  max-width: 70%;
  min-width: 70%
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .mini-container {
    max-width: 100%;
  }

}
