.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

body {
  background-color: #a3bdc7;
  color: #ddd
}

.mini-container {
  min-width: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}

:root {
  --general-color: rgb(0, 0, 255);
  --sensitive-color: rgb(0, 255, 72);
  --questionable-color: rgb(242, 255, 0);
  --explicit-color: rgb(255, 0, 0);
}
